.modal
    max-width: 720px
    width: 100%
    background: var(--background)
    border-radius: 40px
    position: relative
    :global(.modalHeader)
        display: flex
        align-items: center
        justify-content: space-between
        svg
            cursor: pointer
.close
    position: absolute
    z-index: 2
    right: calc(var(--offset-base-size) * 10)
    top: calc(var(--offset-base-size) * 12)
    cursor: pointer