@import variables.sass
@import mixin.sass
@import fonts.sass

.btn_icon
    display: inline-flex
    align-items: center
    text-decoration: none
    transition: color .2s
    font-family: 'Jet Brains Mono'
    svg
        transition: fill .2s
.btn_icon_primary
    color: var(--text-inactive-color)
    &:hover, &.active
        color: var(--text-primary-color)
        svg
            fill: var(--text-primary-color)
.scroll
    @include scrollbars(8px, var(--text-inactive-color), var(--background-element))
    overflow-y: auto
    &.scroll-view
        overflow-y: scroll
#root
    display: flex
    flex-direction: column
    height: 100vh
    overflow: hidden
    align-items: center
    width: 100%
.center-container
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: calc(100vh - 88px - (var(--offset-base-size)  * 10))
    min-height: 0px
.footer-form
    color: var(--text-inactive-color)
    > *
        &:last-child
            margin-bottom: 0
        &:first-child
            margin-top: 0
    a
        color: var(--colors-interface-accent)
        text-decoration: none
        &:hover
            text-decoration: underline
.text-center
    text-align: center
.form-error
    font-family: 'Jet Brains Mono'
    font-size: 16px
    line-height: 1.5
    font-weight: normal
    padding: 10px
    border-radius: 4px
    background: #ff00005c
.loader-wrapper
    position: relative
    width: 100%
.loader-container
    display: flex
    position: absolute
    z-index: 2
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    background: color-mix(in srgb, var(--background-alt) 70%, transparent)

        