.header
    display: flex
    align-items: center
    justify-content: space-between
    max-width: var(--container-width)
    margin: 0 auto
.headerLeft
    width: 30%
.headerRight
    width: 30%
    text-align: right
.logo
    display: flex
    align-items: center
    justify-content: center